<div class="multiple-field-container">
  <div class="multiple-field-section">
    <div style="display:inline-flex">
      <div style="width:95%;">
        <label class="label-small">Specify tool</label>
        <input class="data-facet-value-text-input" type="text" placeholder="Enter tool name and version" [(ngModel)]="entry.toolUsed"/>
      </div>
      <div class="button-group">
        <div class="trash-icon-div">
          <i class="fa fa-trash-o" (click)="removePrivacyEnhancingTechnology(entry.uuid)"></i>
        </div>
      </div>
    </div>
    <div class="subpoint">
      <label class="label-small">Technology used</label>
      <select class="data-facet-value-select" (change)="update()" [(ngModel)]="entry.toolCategory.description">
        @for (description of getDescriptions(); track description) {
        <option>{{ description }}</option>
        }
      </select>
      <div class="subpoint" [style.display]="customize ? 'grid' : 'none'">
        <app-custom-concept-editor-v2 [(concept)]=entry.toolCategory/>
      </div>
    </div>
    <div class="subpoint">
      <label class="label-small">Parameters</label>
      @for (parameter of entry.parameters; track parameter) {
      <app-parameter-editor [parameter]=parameter (copy)=copyParameter($event) (remove)=removeParameter($event)/>
      }
      <div>
        <button class="button" (click)="addParameter()">Add key-value pair</button>
      </div>
    </div>
  </div>
</div>
