<div class="multiple-field-container">
  <div class="trash-icon-div">
    <i class="fa fa-trash-o" (click)="removeMethod(entry.uuid)"></i>
  </div>
  <div class="multiple-field-section">
    <div>
      <label class="label-small">General use category</label>
      <select class="data-facet-value-select" (change)="update()" [(ngModel)]="entry.methodCategory">
        @for (categoryText of getMethodCategories(); track categoryText) {
        <option>{{ categoryText }}</option>
        }
      </select>
      <div class="subpoint" [style.display]="entry.methodCategory !== 'Other' && entry.methodCategory !== '' ? 'grid' : 'none'">
        <label class="label-small">Specific use</label>
        <select class="data-facet-value-select" (change)="update()" [(ngModel)]="entry.specificUse">
          @for (specificUse of getSpecificUses(entry.methodCategory); track specificUse) {
          <option>{{ specificUse }}</option>
          }
        </select>
      </div>
      <div class="subpoint" [style.display]="customize ? 'grid' : 'none'">
        <app-custom-concept-editor-v2 [(concept)]=entry/>
      </div>
    </div>
  </div>
</div>
