<div #dataFacet class="data-facet" [style.display]="dataFacetEnabled ? 'inline-grid' : 'none'">
  <div class="data-facet-key">
    <div class="data-facet-label">
      <label>Standards version used</label>
    </div>
    <div class="required">Required</div>
    <a class="data-facet-description-toggle" [style.display]="!showDataFacetDescription ? 'flex' : 'none'" (click)="showDataFacetDescription = true">See description</a>
    <a class="data-facet-description-toggle" [style.display]="showDataFacetDescription ? 'flex' : 'none'" (click)="showDataFacetDescription = false">Hide description</a>
  </div>
  <div class="data-facet-value" [style.display]="showDataFacetDescription ? 'inline' : 'none'">
    <label class="data-facet-description">{{ dataFacetDescription }}</label>
  </div>
  <div class="data-facet-value">
    <select class="data-facet-value-select">
      @for (version of versions; track version.name) {
      <option>{{version.name}}</option>
      }
    </select>
  </div>
</div>
