<div #dataFacet class="data-facet" [style.display]="dataFacetEnabled ? 'inline-grid' : 'none'">
  <div class="data-facet-key">
    <div class="data-facet-label">
      <label>{{ dataFacetLabel }}</label>
    </div>
    <div class="required" [style.display]="dataFacetRequired ? 'flex' : 'none'">Required</div>
    <a class="data-facet-description-toggle" [style.display]="!showDataFacetDescription ? 'flex' : 'none'" (click)="showDataFacetDescription = true">See description</a>
    <a class="data-facet-description-toggle" [style.display]="showDataFacetDescription ? 'flex' : 'none'" (click)="showDataFacetDescription = false">Hide description</a>
  </div>
  <div class="data-facet-value" [style.display]="showDataFacetDescription ? 'inline' : 'none'">
    <label class="data-facet-description">{{ dataFacetDescription }}</label>
  </div>
  <div class="data-facet-value">
    <input class="data-facet-value-text-input" type="text" placeholder="{{ placeholderText }}" name="simpleInput" #simpleInput="ngModel" [(ngModel)]=value (change)=valueChange.emit(value) (change)=validate() [required]=dataFacetRequired/>
    @if(!dataFacetValid) {
    <div class="alert">
      @if(simpleInput.hasError('required') && (simpleInput.dirty || simpleInput.touched)) {
      <div class="form-field-error">
        This field is required
      </div>
      }
    </div>
    }
  </div>
</div>
